---
import ProjectCard from "./ProjectCard.astro";
let {
	projects = [
		{
			name: "kadeu",
			brief: "A CLI first flashcard application",
			icon: "/rust.svg",
			hyperlink: "https://github.com/gd0st/kadeu",
		},
		{
			name: "todo-rs",
			brief: "A simple todo scheduling application",
			icon: "/rust.svg",
			hyperlink: "https://github.com/gd0st/todo-rs",
		},
		{
			name: "columbia-dev",
			brief: "This website",
			icon: "/astro.svg",
			hyperlink: "https://github.com/gd0st/columbia-astro-redux",
		},
	],
} = Astro.props;

let brief = "Rust, Golang, HTML, Javascript, Python, CSS and more!";
---

<div id="projects">
	<ul>
		{
			projects.map((project) => (
				<li>
					<ProjectCard
						name={project.name}
						brief={project.brief}
						hyperlink={project.hyperlink}
						icon={project.icon}
					/>
				</li>
			))
		}
	</ul>
</div>

<style>
	#projects ul {
		text-align: center;
		display: flex;
		flex-flow: row wrap;
		gap: 10px;
		justify-content: center;
	}

	#projects {
	}

	ul > * {
		list-style: none;
		color: inherit;
		height: 100%;
		flex: 0 0 45%;
	}

	ul {
		padding-left: 0; /* Not sure why */
	}
</style>
