---
import ProjectCard from "./ProjectCard.astro";
let projects = [
	{
		name: "columbia-dev",
		brief: "This website",
		icon: "/astro.svg",
		hyperlink: "https://github.com/gd0st/columbia-astro-redux",
	},
	{
		name: "todo-rs",
		brief: "A simple todo scheduling application",
		icon: "/rust.svg",
		hyperlink: "https://github.com/gd0st/todo-rs",
	},
	{
		name: "kadeu",
		brief: "A CLI first flashcard application",
		icon: "/rust.svg",
		hyperlink: "https://github.com/gd0st/kadeu",
	},
];

let brief = "Rust, Golang, HTML, Javascript, Python, CSS and more!";
---

<div id="projects">
	<ul>
		{
			projects.map((project) => (
				<li>
					<ProjectCard
						name={project.name}
						brief={project.brief}
						hyperlink={project.hyperlink}
						icon={project.icon}
					/>
				</li>
			))
		}
	</ul>
</div>

<style>
	#projects {
		text-align: center;
	}

	li {
		list-style: none;
	}
	p {
		text-align: center;
	}
	a {
		color: inherit;
	}
</style>
