---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";

function buildParams(entires) {
	let params = [];
	for (let entry of entries) {
		params.push({ params: entry.param });
	}
	return params;
}

let entries = [
	{ subject: "about", brief: "Yannick!", param: { slug: "about" } },
	{
		subject: "projects",
		brief: "Rust, Golang, HTML, Javascript, Python, CSS and more!",
		param: { slug: "about" },
	},
	{
		subject: "extra",
		brief: "How to connect with me!",
		param: { slug: "extra" },
	},
];

export const getStaticPaths = (() => {
	return buildParams(entries);
}) satisfies GetStaticPaths;

const { slug } = Astro.params;
let body = "";

for (let entry of entries) {
	if (entry.subject === slug) {
		body = entry.brief;
	}
}
console.log(body);
console.log(slug);
---

<Layout title="Yannick">
	<h1>Yannick Dorn</h1>
	<div id="shell">
		<NavBar {entries} />
		<div>
			<p>{body}</p>
		</div>
		<a href="https://github.com/gd0st">
			<p id="version-descriptor">v 0.1.0</p>
		</a>
	</div>
</Layout>

<style>
	h1 {
		color: #4deeff;
		font-family: "Orbitron";
	}
	p {
		text-align: center;
	}
	#shell {
		border: 2px solid #102031;
		display: grid;
		font-family: "Orbitron";
	}
	a {
		color: inherit;
		text-decoration: none;
	}

	#version-descriptor {
		text-align: right;
		margin-right: 2px;
	}
</style>
