---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import type { GetStaticPaths } from "astro";
let brief = "Thank you for visting!";
---

<Layout title="Yannick">
	<article>
		<h2>{brief}</h2>
	</article>
</Layout>

<style>
	h1 {
		color: #4deeff;
		font-family: "Orbitron";
	}
	p {
		text-align: center;
	}
	#shell {
		border: 2px solid #102031;
		display: grid;
		font-family: "Orbitron";
	}
	a {
		color: inherit;
		text-decoration: none;
	}

	#version-descriptor {
		text-align: right;
		margin-right: 2px;
	}
</style>
