---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
let body = "Connect with me!";
---

<Layout title="Yannick">
	<div>
		<p>{body}</p>
	</div>
</Layout>

<style>
	h1 {
		color: #4deeff;
		font-family: "Orbitron";
	}
	p {
		text-align: center;
	}
	#shell {
		border: 2px solid #102031;
		display: grid;
		font-family: "Orbitron";
	}
	a {
		color: inherit;
		text-decoration: none;
	}

	#version-descriptor {
		text-align: right;
		margin-right: 2px;
	}
</style>
