---
import Projects from "../components/projects/Projects.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="shell">
		<Section title="" anchor="">
			<p>
				Thank you for visiting my website. Browser my <a
					href="#projects">projects</a
				>, or read some content
			</p>
			<p>I live in Chicago, and work for a Propritary Trading company</p>
			<p>For recreation, I enjoy playing rugby, music and writing code</p>
			<p>
				If you'd like to get in contact, check out the <a href="#extra"
					>extra</a
				> section
			</p>
		</Section>
		<Section title="blog" anchor="blog" brief="Straight from the dome" />
		<Section
			title="projects"
			brief="Let me show you my wares"
			anchor="projects"
		>
			<Projects />
		</Section>
		<Section title="extra" anchor="extra" brief="" />
		<!-- <div>One</div>
	<div>Two</div>
	<div>Adding more text here</div>
	<div>Four</div>
	<div>Five</div>
	<div>Six</div>
	<div>Seven</div> -->
	</div>
</Layout>

<style>
	.shell {
		margin: 0 auto;
		width: 60%;
		height: 100%;
		display: grid;
		gap: 1vw;
		border: 2px solid #102031;
		/* display: grid;
		grid-template-columns: [first] 60% [second] auto;
		grid-template-rows: [firstr] 60% [secondr] auto;
		grid-gap: 1vw; */
	}

	.shell {
		padding: 0 20px;
	}

	@media screen and (max-width: 900px) {
		.box {
			width: 90%;
		}
	}
</style>
