---
import MainMenu from "../components/MainMenu.astro";
import Layout from "../layouts/Layout.astro";

let menuItems = [
	{ subject: "About", brief: "Yannick!" },
	{
		subject: "Projects",
		brief: "Rust, Golang, HTML, Javascript, Python, CSS and more!",
	},
	{
		subject: "Extra",
		brief: "How to connect with me!",
	},
];
---

<Layout title="Yannick">
	<div>
		<h1>Astro</h1>
	</div>
	<MainMenu {menuItems} />
</Layout>

<style>
	body {
		background-color: black;
		color: white;
	}
</style>
