---
import Layout from "../layouts/Layout.astro";
import ArticleList from "../components/ArticleList.astro";
import Section from "../components/Section.astro";

let projects = [
	{
		name: "Kadeu",
		href: "https://github.com/gd0st/kadeu",
		description:
			"A lightweight CLI first flashcard application focused on utilizing serialized data formats.",
	},
	{
		name: "Columbia",
		href: "https://github.com/gd0st/columbia-astro-redux",
		description: "This website!",
	},
];
---

<Layout title="Home">
	<Section title="About Me">
		<p>
			Hi,<br />Thank you visting my website. I live in Chicago and work
			for Proprietary Trading Firm. I like to write code with Rust,
			Golang, Python and JS. I also like to play Rugby on the weekends.<br
			/>If you want to reach out, please use one of the contact options
			below.
		</p>
	</Section>
	<Section title="Projects">
		<ul class="projects-list">
			{
				projects.map((project) => {
					return (
						<li>
							<a href={project.href}>
								<h4>{project.name}</h4>
							</a>
							<p>{project.description}</p>
						</li>
					);
				})
			}
		</ul>
	</Section>

	<Section title="Reading">
		<ArticleList />
	</Section>
</Layout>

<style>
	:root {
		--main-bg-color: #1b2527;
		--text-color: #e1eeea;
		--button-color: #7ea7ae;
		--button-hover: #b1788f;
		--button-text-hover: #b1788f;
	}
	.projects-list {
		list-style: none;
		padding-left: 0;
	}

	.projects-list > li {
		margin-block-start: 1.5rem;
		padding-left: 1vw;
	}

	a:hover {
		color: #ff8d3e;
	}
</style>
