---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { manifest } from "astro:ssr-manifest";

let projects = [
  {
    name: "Kadeu",
    href: "https://github.com/gd0st/kadeu",
    description:
      "A lightweight CLI first flashcard application focused on utilizing serialized data formats.",
  },
  {
    name: "Columbia",
    href: "https://github.com/gd0st/columbia-astro-redux",
    description: "This website!",
  },
];
---

<Layout title="Home">
  <Card title="Yannick Dorn">
    <p>
      Hi,<br />Thank you visting my website. I live in Chicago and work for
      Proprietary Trading Firm. I like to write code with Rust, Golang, Python
      and JS. I also like to play Rugby on the weekends.<br />If you would like
      to reach out, please use one of the contact options below.
    </p>
  </Card>
  <Card title="Projects">
    <ul class="projects-list">
      {
        projects.map((project) => {
          return (
            <a href={project.href}>
              <li>
                <h4>{project.name}</h4>
                <p>{project.description}</p>
              </li>
            </a>
          );
        })
      }
    </ul>
  </Card>
  <Card title="Blog" />
</Layout>

<style>
  .projects-list {
    list-style: none;
    padding-left: 0;
    display: grid;
    gap: 1vw;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  li:hover {
    background-color: lightgray;
  }

  .projects-list li {
    border: 2px solid black;
    padding: 10px;
  }
</style>
