---
import Section from "../../components/Section.astro";
import ArticleList from "../../components/ArticleList.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
	<section>
		<ArticleList />
	</section>
</Layout>

<style></style>
