---
let { title } = Astro.props;
---

<div class="card">
  <div class="title">
    <h2>{title}</h2>
  </div>
  <div class="card-content"><slot /></div>
</div>

<style>
  .card {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 0.5%;
    width: 55%;
  }

  .title h2 {
    border-bottom: 2px solid transparent;
    text-decoration: underline;
  }

  .title,
  .card-content {
    font-family: "Noto Sans";
  }
</style>
