---
const { title, entries } = Astro.props;

const version = "0.2.0";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/png" href="/icon.webp" /> -->
		<link rel="icon" type="images/x-icon" href="/icon.ico" />
	</head>

	<body>
		<h1><a href="#">Yannick Dorn</a></h1>
		<slot />
		<a id="version-descriptor" href="https://github.com/gd0st">
			<p>v {version}</p>
		</a>
	</body>
</html>

<style is:global>
	h1 {
		color: #4deeff;
		font-family: "Orbitron";
	}
	#version-descriptor {
		margin-right: 2px;
		color: inherit;
		display: inline-block;
		text-decoration: none;
		float: right;
	}
	a {
		text-decoration: none;
		color: #4deeff;
	}
	body {
		background-color: black;
		font-family: "Orbitron";
		color: white;
	}

	@font-face {
		font-family: "Press Start 2P";
		src: url("/fonts/PressStart2P-Regular.ttf");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Orbitron";
		src: url("/fonts/Orbitron-Regular.ttf");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
</style>
