---
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{title}</title>
	</head>

	<body>
		<article>
			<slot />
		</article>
	</body>

	<style is:global>
		body {
			background-color: black;
			color: white;
		}
		@font-face {
			font-family: "Press Start 2P";
			src: url("/fonts/PressStart2P-Regular.ttf");
			font-weight: normal;
			font-style: normal;
			font-display: swap;
		}
	</style>
</html>
